@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #FDE5D6;
  --color-secondary: #3E483F;

  --font-dmSans: var(--font-dmSans), sans-serif;
  --font-ppWatchMedium: 'PPWatch-Medium', sans-serif;

  --breakpoint-xxs: 390px;
}

@font-face {
  font-family: 'PPWatch-Medium';
  src: url('/fonts/PPWatch-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@layer utilities {
  .side-padding {
    @apply mx-auto max-w-[90rem] px-6;
  }
}

@layer components {
  .hover-primary-link {
    @apply relative;
  }

  .hover-primary-link::after {
    @apply bg-primary absolute bottom-0 left-0 h-[2px] w-full content-[''];
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }

  .hover-primary-link:hover::after {
    transform: scaleX(1);
  }

  .active-primary-link {
    @apply after:bg-primary after:absolute after:block after:h-[2px] after:w-full after:origin-center after:scale-x-100 after:transition after:duration-300 after:content-[''] after:hover:scale-x-100;
  }
}

@keyframes levitateX {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(var(--levitate-amplitude-x, -150px));
  }
}

.animate-levitateX {
  animation: levitateX var(--levitate-duration, 6s) cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes levitateY {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(var(--levitate-amplitude-y, -150px));
  }
}

.animate-levitateY {
  animation: levitateY var(--levitate-duration, 6s) cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes levitateXY {
  0%,
  100% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(var(--levitate-amplitude-x, -150px), var(--levitate-amplitude-y, -150px));
  }
}

.animate-levitateXY {
  animation: levitateXY var(--levitate-duration, 6s) cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
