@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    overflow-x: hidden;
  }
}

@theme {
  --color-primary: #FDE5D6;
  --color-secondary: #3E483F;
  --color-secondary-hover: #FFBF65;

  --font-dmSans: var(--font-dmSans), sans-serif;
  --font-ppWatchMedium: 'PPWatch-Medium', sans-serif;

  --breakpoint-xxs: 390px;
}

@font-face {
  font-family: 'PPWatch-Medium';
  src: url('/fonts/PPWatch-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@layer utilities {
  .side-padding {
    @apply mx-auto max-w-[90rem] px-8;
  }
}

@layer components {
  .hover-primary-link {
    @apply relative;
  }

  .hover-primary-link::after {
    @apply bg-primary absolute bottom-0 left-0 h-[2px] w-full content-[''];
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }

  .hover-primary-link:hover::after {
    transform: scaleX(1);
  }

  .active-primary-link {
    @apply after:bg-primary after:absolute after:block after:h-[2px] after:w-full after:origin-center after:scale-x-100 after:transition after:duration-300 after:content-[''] after:hover:scale-x-100;
  }
}

@keyframes breathe {
  0% {
    transform: scale(1) translateZ(0);
  }
  100% {
    transform: scale(1.05) translateZ(0);
  }
}

.animate-breathe {
  animation: breathe 10s ease-in-out infinite alternate;
  transform-origin: center center;
  contain: layout;
  backface-visibility: hidden;
}
